

body {font-family: 'verdana', sans-serif;
font-size: 1.2em;
margin: 0%;
text-align: center;
color:white;
}

body {
  background-image: url("../billeder/cfv-baggrund.png");
  background-repeat: no-repeat;
background-size:cover;
  background-attachment: fixed;
}
.content {
  background-color: #009ca9;
  padding: 20px;
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 90px;
}

.logo{float: left;
width: 20%;
position: fixed;
overflow: auto;
}

.title {
    text-align: center;
    color: #009ca9;
    margin-top: 1%;
}

header {overflow:hidden;
  text-align: center;

}

h1 {text-align: center;
display:
font-weight: 200;
font-size: 3em;
margin: 0%;}

h2 {margin: 3%;
font-size: 2em;}
p{
  margin:2%;
  font-size: 1em;
}

a {text-decoration: none;
color: white;
}
#linje {margin-bottom: 5%;}

.klik {
background-color: white;
padding: 15px;
padding-left: 35px;
padding-right: 35px;
color: #009ca9;
}

  .klik:hover {
  background-color: #d7e2e5;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  color:#009ca9;
}
